
.bg-cover{
    background-size: cover;
    background-position: center center;
}

.logo{
    display: block;
    background-image: url( ../images/logo-all-dark.svg);
    width: 220px;
    height: 41px;
}

//header//

.header{
    position: relative;
    .header-image{
    height: 496px;
    }
    .button-section{
        margin-top: -90px;
    }
    .square-image-wrap{
        height: 256px;
        position: relative;
        overflow: hidden;
        color: #fff;
        text-decoration: none;
        writing-mode: vertical-lr; //文字垂直
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        & + .square-image-wrap{
            border-left: 1px solid #fff;
        }
        &.active, &:hover, &:focus{
            color: $primary;
            font-weight: bolder;
            .square-over{
                background-color: rgba($color: $accent, $alpha: 0.8);
            }
            .square-image{
                filter: blur(0);
            }
        }
    }
    .square-text{
        font-size: 24px;
        letter-spacing: 10px;
    }
    .square-over{
        background-color: rgba($color: $primary, $alpha: 0.8);
        transition: background-color .5s;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
    .square-image{
        position: absolute;
        right: -10px;
        left: -10px;
        top: -10px;
        bottom: -10px;
        filter: blur(5px);
        z-index: -2;
        transition: filter .5s;
    }
}



